.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;  // WhatsApp Green
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        transform: scale(1.1);
    }
}

.whatsapp-icon {
    // font-size: 30px;
}
